html
  head
    title #{title}
  body
    //
      여러줄
      주석문
      입니다
    // 한줄 주석문 입니다.
    //- 이 주석문은 여기서만 보입니다.
      여러줄
      주석문
      입니다.
    #a
    - for(let i = 1; i <= arr.length; i++) {
        h2 #{title}-#{i}
    - }

    each val, index in arr
      h2 #{title}-#{val}
    
    a(href="{#url}") 네이버